<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <title>Vue Piano 3 Octaves</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <div class="top-bar">
            <div class="tone-select">
                <label for="tone">Tone</label>
                <select v-model="currentKey" @change="createNewExercise">
                    <option v-for="t in tones" :key="t" :value="t">
                        {{ t }}
                    </option>
                </select>
            </div>
            <div class="note-count">
                <span><label for="noteNum">Số note</label></span>

                <button @click="changeNoteCount(-1)" :disabled="noteCount <= 2">−</button>
                <span class="count">{{ noteCount }}</span>
                <button @click="changeNoteCount(1)" :disabled="noteCount >= 10">+</button>
            </div>
        </div>

        <div class="exercise">
            <span v-for="n in exerciseNotes" :class="['ex-note', n.status]">
                {{ n.label }}
            </span>
        </div>


        <div class="controls">
            <button class="btn btn-secondary" @click="resetExercise">Refresh</button>
            <button class="btn btn-primary" @click="createNewExercise">Next</button>
        </div>
        <div class="piano">
            <template v-for="key in keys">
                <!-- White key -->
                <div v-if="!key.isBlack" class="white-key" @click="play(key)">
                    <!-- <div class="label">{{ key.note }}</div> -->
                </div>

                <!-- Black key -->
                <div v-else class="black-key" :style="{ left: key.left + 'px' }" @click="play(key)"></div>
            </template>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>